@import url(../../css/normalize.min.css);
@import url(../../css/variables.css);
@import url(js/fonts.css);
abbr {
  cursor: help;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: var(--secondary-bg);
  padding: var(--xxxl);
  gap: var(--xxl);
}
header h2,
header p {
  font-family: "Cascadia Code", 'Cascadia Code Cdn', monospace;
  color: var(--text-color);
}
header a {
  color: var(--anchor-color);
}
header p {
  font-size: 0.9em;
}
header input {
  background-color: var(--input-bg);
  padding: var(--l) var(--xl) var(--l) var(--xl);
  border-radius: var(--xl);
  border: none;
  outline: none;
  color: var(--text-color);
  min-width: 190px;
  min-height: 25px;
  font-size: 0.9em;
}
header a#torrentLink {
  padding: var(--xl) var(--xxl) var(--xl) var(--xxl);
  border-radius: var(--xl);
  background-color: var(--input-bg);
}
main {
  background-color: var(--main-bg);
  padding: var(--xxxl);
}
main section.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}
main section.info caption {
  color: var(--text-color);
  font-family: "Cascadia Code", 'Cascadia Code Cdn', monospace;
  margin-bottom: var(--xl);
}
main section.info table.desktop {
  border-collapse: collapse;
  display: block;
  margin: 0 auto;
}
main section.info table.desktop th,
main section.info table.desktop td {
  color: var(--text-color);
  border: 2px var(--border-color) solid;
  padding: var(--xl);
  text-align: center;
  word-break: break-word;
}
main section.info table.desktop .error {
  color: red;
  text-shadow: 2px 2px black;
}
main section.info table.desktop .success {
  color: #00ff00;
  text-shadow: 2px 2px black;
}
